@use '../base';
@use '../abstracts';

.banner {
    &-inner {
        padding-top: 34%;
        position: relative;

        @include abstracts.breakpoint(md) {
            padding-top: 40%;
        }

        @include abstracts.breakpoint(sm) {
            padding-top: 46%;
        }

        @include abstracts.breakpoint(xs) {
            padding-top: 50%;
        }
    }

    &-wrapper {
        width: 100%;
        background: var(--banner-bg-color);
        border-radius: 20px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &__img {
        width: 522px;
        height: 413px;
        object-fit: cover;
        position: absolute;
        bottom: 0;
        right: 0;

        @include abstracts.breakpoint(xl) {
            width: 439px;
            height: 348px;
        }

        @include abstracts.breakpoint(lg) {
            width: 368px;
            height: 289px;
        }

        @include abstracts.breakpoint(md) {
            width: 313px;
            height: 247px;
        }

        @include abstracts.breakpoint(sm) {
            width: 275px;
            height: 220px;
        }

        @include abstracts.breakpoint(xs) {
            width: 190px;
            height: 149px;
        }
    }

    &__text {
        @include base.bd-42;

        width: 421px;
        color: var(--banner-text-color);
        position: absolute;
        top: 67px;
        left: 70px;

        @include abstracts.breakpoint(md) {
            width: 361px;
            font-size: 3.2rem;
            top: 26px;
            left: 38px;
        }

        @include abstracts.breakpoint(sm) {
            top: 21px;
            left: 31px;
        }

        @include abstracts.breakpoint(xs) {
            @include base.bd-15;

            width: 151px;
            top: 20px;
            left: 20px;
        }
    }
}

.category {
    &__heading {
        @include base.bd-24;

        color: var(--category-heading-text-color);
    }
}
