html.dark {
    --logo-text-color: #ffffff;

    --body-bg-color: #292e39;

    --header-bg-color: #171c28;
    --header-signin-text-color: #ffffff;
    --header-mobile-bg-color: #171c28;
    --header-mobile-shadow-color: 0px 20px 60px 10px rgba(0, 0, 0, 0.2);

    --nav-dropdown-text-color: #ffffff;
    --nav-dropdown-icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%) hue-rotate(284deg) brightness(106%) contrast(102%);

    --banner-bg-color: #77dae6;
    --banner-text-color: #ffffff;

    --category-heading-text-color: #ffffff;
    --category-product-bg-color: #171c28;
    --category-mobile-product-bg-color: #171c28;
    --category-product-thumb-bg-color: #292e39;
    --category-product-price-text-color: #ffffff;
    --category-product-desc-text-color: #ffffff;

    --btn-primary-bg-color: #ffb700;
    --btn-primary-text-color: #1a162e;
    --btn-toggle-bg-color: #374750;
    --btn-toggle-slider-color: #4f5d64;
    --btn-toggle-slider-shadow-color: 0px 2px 20px 0px rgba(45, 45, 45, 0.7);
}
