html {
    --logo-text-color: #1a162e;

    --body-bg-color: #f6f6f6;

    --header-bg-color: #eeeeee;
    --header-signin-text-color: #1a162e;
    --header-mobile-bg-color: #ffffff;
    --header-mobile-shadow-color: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);

    --nav-dropdown-text-color: #1a162e;
    --nav-dropdown-icon-color: brightness(0) saturate(100%) invert(8%) sepia(47%) saturate(1140%) hue-rotate(215deg) brightness(86%) contrast(95%);

    --banner-bg-color: #77dae6;
    --banner-text-color: #ffffff;

    --category-heading-text-color: #1a162e;
    --category-product-bg-color: #eeeeee;
    --category-mobile-product-bg-color: #ffffff;
    --category-product-thumb-bg-color: #ffffff;
    --category-product-price-text-color: #000000;
    --category-product-rate-text-color: #1a162e;

    --product-name-text-color: #1a162e;
    --product-brand-text-color: #9e9da8;
    --product-price-text-color: #1a162e;

    --btn-primary-bg-color: #ffb700;
    --btn-primary-text-color: #1a162e;
    --btn-toggle-bg-color: #f8f8fb;
    --btn-toggle-slider-color: #ffffff;
    --btn-toggle-slider-shadow-color: 0px 2px 20px 0px rgba(217, 217, 221, 0.7);
}
