html {
    --logo-text-color: #1a162e;

    --header-bg-color: #eeeeee;
    --header-signin-text-color: #1a162e;
    --nav-dropdown-text-color: #1a162e;
    --nav-dropdown-icon-color: brightness(0) saturate(100%) invert(8%) sepia(47%) saturate(1140%) hue-rotate(215deg) brightness(86%) contrast(95%);

    --btn-primary-bg-color: #ffb700;
    --btn-primary-text-color: #1a162e;
    --btn-toggle-bg-color: #f8f8fb;
    --btn-toggle-slider-color: #ffffff;
    --btn-toggle-slider-shadow-color: 0px 2px 20px 0px rgba(217, 217, 221, 0.7);
}
