@use '../base';
@use '../abstracts';

.header {
    padding: 30px 0;
    background: var(--header-bg-color);

    @include abstracts.breakpoint(xs) {
        padding: 16px 0;
        background: var(--header-mobile-bg-color);
        box-shadow: var(--header-mobile-shadow-color);
    }

    &__inner {
        align-items: center;
    }

    &__nav {
        margin-left: 144px;
    }

    &__user-actions {
        align-items: center;
        gap: 35px;
        margin-left: auto;

        @include abstracts.breakpoint(xs) {
            gap: 15px;
        }

        .user-actions__signin {
            @include base.md-16;

            color: var(--header-signin-text-color);

            @include abstracts.breakpoint(xs) {
                @include base.md-15;
            }
        }

        .user-actions__signup {
            padding: 12px 20px;

            @include abstracts.breakpoint(xs) {
                padding: 10px 16px;
            }
        }
    }
}
