@use '../abstracts';

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Gordita', sans-serif;
    background: var(--body-bg-color);
}

a {
    text-decoration: none;
}

input,
button {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    font-family: inherit;
}

button {
    cursor: pointer;
}

section {
    margin-top: 40px;

    @include abstracts.breakpoint(xs) {
        margin-top: 30px;
    }
}
