<div class="container">
    <div class="header__inner d-flex">
        <!-- logo -->
        <div class="header__logo">
            <div class="logo">
                <img src="./assets/icons/logo.svg" alt="" class="logo__icon" />
                <p class="logo__text">grocerymart</p>
            </div>
        </div>

        <!-- navigation -->
        <!-- <nav class="header__nav">
            <ul class="nav__menu d-flex">
                <li class="nav__item">
                    <p class="nav__dropdown d-flex">
                        Departments
                        <img src="./assets/icons/dropdown-arrow.svg" alt="" class="nav__dropdown-icon" />
                    </p>
                </li>
                <li class="nav__item">
                    <p class="nav__dropdown d-flex">
                        Grocery
                        <img src="./assets/icons/dropdown-arrow.svg" alt="" class="nav__dropdown-icon" />
                    </p>
                </li>
                <li class="nav__item">
                    <p class="nav__dropdown d-flex">
                        Beauty
                        <img src="./assets/icons/dropdown-arrow.svg" alt="" class="nav__dropdown-icon" />
                    </p>
                </li>
            </ul>
        </nav> -->

        <!-- actions -->
        <div class="header__user-actions d-flex">
            <a href="./sign-in.html" class="user-actions__signin btn btn-link">Sign In</a>
            <a href="./sign-up.html" class="user-actions__signup btn btn-primary">Sign Up</a>

            <button class="user-actions__theme-toggle btn btn-toggle">
                <span class="btn-toggle__slider user-actions__theme-slider"></span>
            </button>
        </div>
    </div>
</div>
