$grid-breakpoints: (
    xl: 1400px,
    lg: 1200px,
    md: 992px,
    sm: 768px,
    xs: 576px
);

$container-max-widths: (
    xl: 1140px,
    lg: 960px,
    md: 720px,
    sm: 540px,
    xs: 335px
);

$displays: none, inline, block, inline-block, flex, grid;
